body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.capa{
    background: url(images/fundo.jpg) no-repeat center; 
    background-size: cover;/*imagem ajusta ao tamanho do container*/
    height: 500px;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("images/fundo.jpg")
}

.menu{
   height: 3.5em;
   justify-content: space-between;
   padding: 0 2%;
}

.logo {
   width: 55px;
   justify-content: space-between;
   top: 5%;
}

.navegador {
   gap: 2em;
}

.menu, .navegador { 
   display: flex;
   flex-direction: row;
   align-items: center;
}

.navegador a{
   text-decoration: none;
   color: white;
   transition: 1s;
   font-weight: bold;
   font-size: 16px;
}

.traco {
   line-height: 0.0;
   margin-left: 660px;
   margin-right: 660px;
   border-bottom-style: solid;
   border-bottom-width: 8px;
   border-color: rgba(181,147,88,1); 
}

/* TEXTOS */

.texto {
   text-align: center;
   padding-top: 5em;
   height: 100vh;
   transition: 1s;
   top: 50%;
   left: 50%;
   color: white;
   font-weight: bold; 
}

.texto1, .texto3 {
  font-size: 18px;
}

.texto2 {
  font-size: 48px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.texto4 {
   text-align: center;
   font-style: normal;
   font-family: Arial, Helvetica, sans-serif;
   color: black;
   font-weight: bold;
   vertical-align: baseline;
   font-size: 18pt;
}

.textoAcima{
   color: white;
   text-align: center;
   font-weight: bold;
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
}

.textoAbaixo {
   color: black;
   text-align: center;
   font-weight: bold;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
}

.textoInscreva {
   text-align: center;
   padding: 50px;  
}

.frase {
   text-align: center;
   font-style: italic;
   font-family: cursive;
   color: #560303;
   font-weight: bold;
   vertical-align: baseline;
   font-size: 20px;
}

.desc {
   text-align: center;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
}

/* SECTIONS */

.section1 {
   background-color: rgba(181,147,88,1);
}

.section4 {
   display: flex;
   column-gap: 200px; 
   margin-right: 100px;
   margin-left: 250px;
}

.section5 {
   background-color: rgba(181,147,88,1);   
}

/* BOTÕES */

.botaoFormulario {
   text-align: center;
   height: 130px;  
}

button {
   width: 350px;
   height: 40px;
   cursor: pointer;
}

/* CONTAINERS */
.container {
   display: flex;
   flex-wrap: wrap;
   row-gap: 16px;      
   column-gap: 30px;  
   margin-right: 100px;
   margin-left: 100px;
   align-items: center;
   justify-content: center;
   background-color: rgba(181,147,88,1);
}

.container1 {
   display: flex;
   flex-wrap: wrap;
   row-gap: 30px;      
   column-gap: 30px;  
   margin-right: 100px;
   margin-left: 100px;
   align-items: center;
   justify-content: center;
}

.container2 {
   display: flex;
   flex-wrap: wrap;
   row-gap: 30px;      
   column-gap: 30px;  
   align-items: center;
   justify-content: center;
   background-color: rgba(181,147,88,1);
}

.principal1 {
   background-color: rgba(181,147,88,1);
}

.amigas {
   display: flex;
   justify-content: center;
}

.palestrantes {
   display: grid;
   margin: 50px;
   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
   gap: 15px;
   padding: 24px 0px;
   background-color: rgba(181,147,88,1);
   text-align: center;
}

.flex > div {
   flex: 1 1 200px;
   margin: 10px;
}

.local {
   text-align: center;
   color: black;
   font-size: 22px;
}

.principal2 {
   background-color: rgba(181,147,88,1);
}

.nomeEmpresa{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.descricao {
   text-align: center;
   font-size: 15px;
}

.logoTeams {
   text-align: center;
}

footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #560303;
  font-size: 16px;
  font-style: italic;
}

